<!DOCTYPE html>
<html>

<%- include(`partials/head`); %>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <!-- category je objekt kategorije u koju spada item
         category: {id, name, description, seasonal}
         item: {id, name, price, categoryid, imageurl, colors} 
         experts: {id, name, surname, email, employedsince, expertsince, expertfor}
         suppliers: {id, name, country, county, email, suppliersince, supplierfor}-->

    <h2 class="decorated-title font-secondary main-color" id="h1title">
         <span class="main-color-emphasized">
             Item </span> information
    </h2>
    <div class="separator"></div>
    
    <div class="item-view">
        <img class="item-view-image" src=<%= item.imageurl %>></img>
        <div class="item-view-text">
            <div class="item-view-text-title font-secondary main-color-emphasized"> <%= item.name %> </div>
            <hr>
            <div class="item-view-text-property main-color">Price: <span class="item-view-text-value"> <%= item.price %> kn </span></div>
            <div class="item-view-text-property main-color">Available colors: <span class="item-view-text-value"> <%= item.colors %> </span></div>
            <div class="item-view-text-property main-color">Category: <span class="item-view-text-value"> <%= category.name %> </span></div>
            <div class="item-view-text-property main-color">Seasonal: <span class="item-view-text-value"> <%= category.seasonal %> </span></div>
            <div class="item-view-text-desc font-secondary main-color"> <%= category.description %> </div>
        </div>
    </div>         

    <section class="section secondary-color-bg expert_supplier_container">
        <h2 class="decorated-title font-secondary main-color-emphasized"> Item 
            <span class="main-color"> Experts </span>  
            <a class="link" href="../item/<%=item.id%>/addexpert">
                <img class="icon_add_edit" src="../images/plus.png" alt="sl">
            </a>
        </h2>
        <div class="separator"></div>

    <%  let empty = 1; 
        for (let expert of experts) { 
            if(expert.expertfor != item.id) continue;
            empty = 0;  %>
            
            <h3 class="decorated-title font-secondary main-color-emphasized"> 
                 <%= expert.name  %> <%= expert.surname %>
            </h3>

            <div class="item-view-text-property main-color"> E-mail:
                    <span class="item-view-text-value"> <%= expert.email %> </span>
            </div> 
            <div class="item-view-text-property main-color"> Employed since: 
                <span class="item-view-text-value"> <%= expert.employedsince %> </span>
            </div> 
            <div class="item-view-text-property main-color"> Expert since: 
                <span class="item-view-text-value"> <%= expert.expertsince %> </span>
            </div> 
                <hr>
        <% } %>
        <% if(empty) { %>
            <h2 class="decorated-title font-secondary main-color-emphasized"> 
                <span class="main-color"> No experts for this item </span>  
            </h2>
        <% } %>
    
    </section>

    <!-- POMOCNI KOD:
        <div class="item-view">
            <img class="item-view-image" src="https://i.imgur.com/Ttir6mp.jpg"></img>
            <div class="item-view-text">
                <div class="item-view-text-title font-secondary main-color-emphasized">Tulip</div>
                <hr>
                <div class="item-view-text-property main-color">Price: <span class="item-view-text-value">10 kn</span></div>
                <div class="item-view-text-property main-color">Available colors: <span class="item-view-text-value">white, red, yellow</span></div>
                <div class="item-view-text-property main-color">Category: <span class="item-view-text-value">Flowers</span></div>
                <div class="item-view-text-property main-color">Seasonal: <span class="item-view-text-value">Yes</span></div>
                <div class="item-view-text-desc font-secondary main-color">Flowers make us smile</div>
            </div>
        </div>
     -->

</main>

<%- include(`partials/footer`); %>

</body>

</html>